/* https://www.youtube.com/watch?v=p0bGHP-PXD4 */
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto:wght@100;300;400;500;700;900&family=Share&display=swap');

/*You can set css variables*/
:root {
    --primary-color: #800000;
    --secondary-color: #6b0101;
    --dark-color: #5a0000;
    --light-color: #f4f4f4;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} /* this will reset setting on all elements even html and body*/

body{
    font-family: 'Orelega One', cursive;;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p{
    margin: 10px 0;
}

img{
    width: 100%;
}

/* Navbar styling */
.navbar{
    background-color: var(--primary-color);
    color: white;
    height: 70px;

}
.navbar .logo{
    margin: auto 0 auto -15px;
    padding: 0; 
}

.navbar ul{
    display: flex;
}

.navbar a{
    color: white;
    padding: 0 10px;
    margin: 0px 5px;
    font-size: 1.1rem;


    /*transition: border 0.15s;*/
}
/*
.navbar a:after {
    transition: all ease-in-out .2s;
    background: none repeat scroll 0 0 #ffffff;
    content: "";
    display: block;
    height: 2px;
    width: 0;
    margin: 0 0 -30px 15px;
}

.navbar a:hover:after {
    width: calc( 100% - 15px );
}*/

/*.navbar a:hover{
    border-bottom: 2px #fff solid;
}*/

.navbar .flex{
    justify-content: space-between;
    overflow: visible;
}



#oktoich_menu, #bohosluzby_menu{
    display: inline-block;
    position: relative;
}

.content{
    padding: 10px 15px;
    position:absolute;
    min-width: 100px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    z-index: 110;
    flex-direction: column;
}

.content a{
    color: #333;
    padding-left: 0;
    margin-left: 0;
    z-index: 111;
    font-size: 1.1rem;
}

.content a:after {
    transition: all ease-in-out .3s;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(51,51,51,1) 0%, rgba(255,255,255,1) 100%);
    content: "";
    display: block;
    height: 2px;
    width: 0;
    margin: -5px 0 -20px 0;
}

.content a:hover:after {
    width: 100%;
}

#oktoich_content, #bohosluzby_content{
    display: none;
}

#oktoich_menu:hover #oktoich_content{
    display: flex;
}

#bohosluzby_menu:hover #bohosluzby_content{
    display: flex;
}

/* Showcase */
.showcase{
    height: 400px;
    background-color: var(--primary-color);
    color: white;
    position: relative;
    padding-left: 0px;
}

.showcase h1{
    font-size: 40px;
}

.showcase p{
    margin: 20px 0;
}

.showcase .grid{
    gap: 30px;
    overflow: visible; /*Showcase form which overflows showcase will show on blank space*/
    grid-template-columns: 55% 45%;
}

.showcase-form{
    position: relative;
    top: 60px;
    height: 350px;
    width: 300px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
}

.showcase-form .form-control{
    margin: 30px 0;
}

.showcase-form input[type="text"], .showcase-form input[type="email"]  {
    border: 0;
    border-bottom: 1px solid #b4becb;
    padding: 3px;
    width: 100%;
    font-size: 16px;
}

.showcase-form input:focus{
    outline: none;
}

.showcase::before,
.showcase::after{
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left:0;
    background-color: white;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

/* Stats */
.stats{
    margin-top: 100px;
}

.stats-heading{
    max-width: 500px;
    margin: auto;
}

.stats .grid h3{
    font-size: 35px;
}

.stats .grid p{
    font-size: 20px;
    font-weight: bold;
}

/* Chant section */
.chant{
    margin-top: 100px;
    
}

.chant .grid{
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: auto;
}



.chant .grid > *:first-child{
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    height:auto;
    object-fit: contain; 
    }

.chant .card{
    grid-column-start: 4;
    grid-column-end: 6;
}

/* Spiritual */
.spiritual .grid{
    grid-template-columns: 4fr 3fr;
    overflow: hidden;
}

/* FEASTS */
.feast .flex{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 150px;
}

.feast .card{
    padding: 10px 10px 0 10px;
    width: 150px;
    transition: 0.2s ease-in;
    
}

.feast .card:hover{
    box-shadow: 0 3px 10px var(--primary-color);
}

.feast .card div{
    width: 130px;
    height: 50px;
    background-color: var(--primary-color);
    font-weight: 400;
    text-align: center;
    line-height: 90%;
    color: var(--light-color);
    display: flex;
    border-radius: 7px 7px 0 0;
    margin:0;
}


.feast .card div h4{
    font-weight: 200;
    text-align: center;
    line-height: 90%;
    color: var(--light-color);
    margin: auto;
    align-items: center;
}

.feast .card img{
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 0 0 7px 7px;
    margin: 0;
}



/* OKTOICH */
/* OKTOICH */
/* OKTOICH */

/* Oktoich - head */
.oktoich-head .container {
    height: 250px;
}

.oktoich-head img{
    height: 230px;
    width: auto;
    justify-self: flex-end;
}

.oktoich-sub-head ul {
    list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;

}

.oktoich-sub-head li{
    font-size: 1.2rem;
    text-align: right;
    line-height: 0.9;
    padding-left: 20px;
    margin:0 0 15px 0;
    width:150px;
}

.bohosluzby-order .container{
    height: auto;
}

.bohosluzby-order .grid{
    padding: 30px 0 30px 0; 
}

.bohosluzby-order .card > i {
    margin-right: 20px;
}











/* FOOTER */
.footer .social a{
    margin: 0 10px;
}











/* Media queries - Tablets and under*/
@media(max-width: 768px){
    .grid,
    .showcase .grid,
    .chant .grid,
    .stats .grid,
    .spiritual .grid,
    .feast .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .navbar .logo{
        margin: auto 0;
    }
    .showcase{
        height: 650px;
        text-align: justify;
        margin-bottom: 150px;
    }


    .showcase-form{
        justify-self: center;
        margin: auto;
    }

    .showcase-text{
        margin-top: 40px;
    }
    .chant .grid > *:first-child{
        grid-column: 1;
        grid-row: 1;
        
        }
    
    .stats .grid{
        height: auto;
        overflow: visible;
    }
    .spiritual .grid{
        height: auto;
        overflow: visible;
    }
}

/* Media queries - Cellphones*/
@media(max-width: 530px){
    .navbar {
        height: 110px;
    } 

    .navbar .flex{
        flex-direction: column;
        
    }

    .navbar ul{
        padding: 10px;
        background-color: var(--secondary-color);
    }

    .chant, .stats{
        display: none;
    }

}

