/* https://www.youtube.com/watch?v=p0bGHP-PXD4 */
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Roboto:wght@100;300;400;500;700;900&family=Share&display=swap');

/*You can set css variables*/
:root {
    --primary-color: #800000;
    --secondary-color: #6b0101;
    --dark-color: #5a0000;
    --light-color: #f4f4f4;
    --text-color-light: white;
    --text-color-dark: #333;
    --text-color-regular: black;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} /* this will reset setting on all elements even html and body*/

body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p{
    margin: 10px 0;
}

img{
    width: 100%;
}

/* Navbar styling */
.navbar{
    background-color: var(--primary-color);
    color: white;
    height: 64px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.navbar .container{
    padding: 0
}

.navbar .logo-part{
    display: flex;
    flex-wrap: wrap;
}

.navbar img{
    width: 64px;
    height: 64px;
    margin: 0px 10px 0px 0px;
}

.navbar .logo a{
    margin: auto 0 auto 0;
    padding: 0;
    font-size: 2.1rem; 
    font-weight: 400;
    line-height: 1.2;
}

.navbar ul{
    display: flex;
}

.navbar a{
    color: white;
    font-size: 1.1rem;
}

.navbar .flex{
    justify-content: space-between;
    overflow: visible;
}

.navbar .nav_window{
    display: flex;
    padding: auto;
    width: auto;
    padding: 0 20px;
    margin: 0px;
    height: 64px;
    transition: 0.15s;   
    justify-content: center;
    align-items: center;
}

.navbar .nav_window:hover {
    background-color: var(--secondary-color);
}

/* Navbar menu*/
#oktoich_menu, #bohosluzby_menu, #obdobia_menu, #tyzden_menu{
    display: inline-block;
    position: relative;
}

.content{
    padding: 10px 0;
    font-size: 0.9rem;
    position: absolute;
    top: 64px;
    min-width: 110%;
    width: auto;
    height: auto;
    background-color: var(--secondary-color);
    border-radius: 0 10px 10px 10px;
    /*box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);*/
    z-index: 110;
    flex-direction: column;
    
}

.content li{
    min-width: fit-content;
    white-space: nowrap;
    line-height: 1rem;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
}

.content .lit{
    background-color: var(--primary-color);
    margin: 0 10px;
    padding: 0;
    border-radius: 7px;
}

.content .lit li{
    margin: 0;
}

.content li:hover{
    background-color: white;
}

.content li:hover a{
    color: var(--primary-color);
}

#oktoich_content, #bohosluzby_content, #obdobia_content, #tyzden_content{
    display: none;
}

#oktoich_menu:hover #oktoich_content,
#bohosluzby_menu:hover #bohosluzby_content,
#tyzden_menu:hover #tyzden_content,
#obdobia_menu:hover #obdobia_content{
    display: flex;
}

#oktoich_menu:hover .nav_window,
#bohosluzby_menu:hover .nav_window,
#tyzden_menu:hover .nav_window,
#obdobia_menu:hover .nav_window{
    background-color: var(--secondary-color);
}


/* Showcase */
.showcase{
    height: 400px;
    background-color: var(--primary-color);
    color: white;
    position: relative;
    padding-left: 0px;
}

.showcase h1{
    font-size: 40px;
}

.showcase p{
    margin: 20px 0;
}

.showcase .grid{
    gap: 30px;
    overflow: visible; /*Showcase form which overflows showcase will show on blank space*/
    grid-template-columns: 55% 45%;
}

.showcase-form{
    position: relative;
    top: 60px;
    height: 350px;
    width: 300px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
}

.showcase-form .form-control{
    margin: 30px 0;
}

.showcase-form input[type="text"], .showcase-form input[type="email"]  {
    border: 0;
    border-bottom: 1px solid #b4becb;
    padding: 3px;
    width: 100%;
    font-size: 16px;
}

.showcase-form input:focus{
    outline: none;
}

.showcase::before,
.showcase::after{
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left:0;
    background-color: white;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

/* Stats */
.stats{
    margin-top: 100px;
}

.stats-heading{
    max-width: 500px;
    margin: auto;
}

.stats .grid h3{
    font-size: 35px;
}

.stats .grid p{
    font-size: 20px;
    font-weight: bold;
}

/* Chant section */
.chant{
    margin-top: 100px;
    
}

.chant .grid{
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: auto;
}



.chant .grid > *:first-child{
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    height:auto;
    object-fit: contain; 
    }

.chant .card{
    grid-column-start: 4;
    grid-column-end: 6;
}

/* Spiritual */
.spiritual .grid{
    grid-template-columns: 4fr 3fr;
    overflow: hidden;
}

/* FEASTS */
.feast .flex{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 150px;
}

.feast .card{
    padding: 10px 10px 0 10px;
    width: 150px;
    transition: 0.2s ease-in;
    
}

.feast .card:hover{
    box-shadow: 0 3px 10px var(--primary-color);
}

.feast .card div{
    width: 130px;
    height: 50px;
    background-color: var(--primary-color);
    font-weight: 400;
    text-align: center;
    line-height: 90%;
    color: var(--light-color);
    display: flex;
    border-radius: 7px 7px 0 0;
    margin:0;
}


.feast .card div h4{
    font-weight: 200;
    text-align: center;
    line-height: 90%;
    color: var(--light-color);
    margin: auto;
    align-items: center;
}

.feast .card img{
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 0 0 7px 7px;
    margin: 0;
}


/* OKTOICH */
/* OKTOICH */
/* OKTOICH */

/* Oktoich - head */
.oktoich-head .container {
    height: auto;
}

.oktoich-head img{
    height: 300px;
    width: auto;
    justify-self: flex-end;
}

.oktoich-sub-head .grid{
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

/*
.oktoich-sub-head ul {
    list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;

}

.oktoich-sub-head li{
    font-size: 1.2rem;
    text-align: right;
    line-height: 0.9;
    padding-left: 20px;
    margin:0 0 15px 0;
    width:150px;
}*/

.bohosluzby-order .container{
    height: auto;
}

.bohosluzby-order .grid{
    padding: 30px 0 30px 0; 
}

.bohosluzby-order .card {
    padding: 0 30px 0 0;
}

.bohosluzby-order .grid>*:first-child{
    grid-column: 1/span 3;
}

.bohosluzby-order .grid>*:nth-child(3) {
    grid-column: 2/span 2;
}

.bohosluzby-order .card h4{
    display: block;
    padding: 10px;
    align-self: stretch;
    text-align: center;
    margin: 0 25px;
    background-color: var(--primary-color);
    color:var(--text-color-light);
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -0.2rem;
}


/* HLAS and LITURGIE template */

.hlas_navigation .container, 
.lit_navigation .container{
    border-radius: 10px;
    margin: 40px auto 10px auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: auto;

}
.hlas_navigation .container div, 
.lit_navigation .container div{
    margin: 10px;
    font-size: 1.1rem;
    width: 60px;
    min-width: fit-content;
    width: 100px;
    white-space: nowrap;
    line-height: 1rem;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.hlas_navigation .container div:hover, 
.hymn_presentation .hymn .spev:hover,
.lit_navigation .container div:hover{
    cursor: pointer;
    background-color: var(--light-color);
    color: var(--primary-color)
}

.hymn_presentation .grid{
    display: grid;
    grid-template-columns: 1fr 5fr; 
    padding: 0;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    overflow: visible;
    margin-bottom: 100px;
}

.hymn_presentation .hymn{
    margin-top: 50px;
    border-radius: 10px;
    font-size: 1.1rem;
    padding: 10px 20px 20px 20px;
    justify-content: center;
    align-items: center;
}

.hymn_presentation .hymn .spev{
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    line-height: 1.1rem;
    border-radius: 5px;
}

.hymn_presentation .hymn #last-part{
    margin-bottom: 30px;
}

.hymn .download{
    width: 100%;
    margin: 5px auto;
}

.broader_menu{

    display: inline-block;
    position: relative;
    width: 100%;
}

.detail_options{
    padding: 10px 0;
    font-size: 0.9rem;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 110%;
    width: auto;
    height: auto;
    background-color: var(--secondary-color);
    border-radius: 0 10px 10px 10px;
    /*box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);*/
    z-index: 110;
    flex-direction: column;
    
}

.broader_menu .first_label{
    display: block;
    padding: 10px 10px;
    margin:0;
    width: 100%;
    border-radius:  5px 0 0 5px;
    color:var(--text-color-light);
}

.broader_menu .detail_options .spev{
    font-size: 1rem;
    margin: 0 0 5px 15px;
    width: calc(100% - 15px);
    padding: 5px 10px;
    white-space: nowrap;
}

.broader_menu .detail_options{
    display: none;
}

.broader_menu:hover .detail_options{
    display: flex;
}

.broader_menu:hover .first_label{
    background-color: var(--secondary-color);
}


/* PRESENTATION part*/
.moving_container{
    position: relative;
    height: 100%;
}

.presentation{
    margin-left: 30px;
    margin-right: 30px;
    position: sticky;
    object-fit: cover;
}

.hymn_presentation .presentation .title{
    text-align: center;
}

.music{
    width:100%;
}

/* Music player */
  .player{
      width: 100%;
  }
  







/* FOOTER */
.footer .social a{
    margin: 0 10px;
}











/* Media queries - Tablets and under*/
@media(max-width: 768px){
    .grid,
    .showcase .grid,
    .chant .grid,
    .stats .grid,
    .spiritual .grid,
    .feast .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .navbar .logo{
        margin: auto 0;
    }
    .showcase{
        height: 650px;
        text-align: justify;
        margin-bottom: 150px;
    }


    .showcase-form{
        justify-self: center;
        margin: auto;
    }

    .showcase-text{
        margin-top: 40px;
    }
    .chant .grid > *:first-child{
        grid-column: 1;
        grid-row: 1;
        
        }
    
    .stats .grid{
        height: auto;
        overflow: visible;
    }
    .spiritual .grid{
        height: auto;
        overflow: visible;
    }
}

/* Media queries - Cellphones*/
@media(max-width: 530px){
    .navbar {
        height: 110px;
    } 

    .navbar .flex{
        flex-direction: column;
        
    }

    .navbar ul{
        padding: 10px;
        background-color: var(--secondary-color);
    }

    .chant, .stats{
        display: none;
    }

}

